.level {
	width: 100vw;

	.container {
		min-height: 100vh;
		max-width: 1200px;
		margin: auto;

		.cards {
			display: flex;
			align-items: center;
			justify-content: center;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			margin: 30px 0;
		}
	}
}
