.level {
	width: 100vw;

	.container {
		min-height: 100vh;
		max-width: 1200px;
		margin: auto;

		display: flex;
		align-items: center;
		justify-content: center;

		.cards {
			height: 100%;
			margin: 15px 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 40px;
		}
	}
}
