.btn {
	width: max-content;
	background-image: linear-gradient(
		to right,
		var(--primary-color) 0%,
		#120525 61%,
		var(--primary-color) 100%
	);
	padding: 10px 30px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;

	&:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
}
