.navbar {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		display: flex;
		align-items: center;
		gap: 15px;

		li {
			font-weight: 500;
			transition: color 0.3s ease;

			&.active {
				color: var(--primary-color);
			}

			&:hover {
				a {
					color: var(--primary-color);
				}
			}
		}
	}
}
